<body>
  <div class="container">
    <div class="image-container">
      <img src="assets/images/login_img.png" alt="Imagem de exemplo" />
    </div>
    <div class="divider"></div>

    <div class="form-container">
      <div class="button-container">
        <button
          [ngClass]="{ active: isRegister, inactive: !isRegister }"
          (click)="toggleForm(true)"
        >
          Cadastre-se
        </button>
        <button
          [ngClass]="{ active: !isRegister, inactive: isRegister }"
          (click)="toggleForm(false)"
        >
          Login
        </button>
      </div>
      <form [formGroup]="registerForm" *ngIf="isRegister" (submit)="register()">
        <input type="text" placeholder="Nome" formControlName="name" />
        <input type="email" placeholder="Email" formControlName="email" />
        <input
          type="tel"
          placeholder="Celular"
          formControlName="cell"
          pattern="[0-9]{10,11}"
        />
        <input type="password" placeholder="Senha" formControlName="password" />
        <input
          type="password"
          name="confirmPassword"
          placeholder="Confirmar Senha"
          autocomplete="current-password"
        />
        <button type="submit">Criar Conta</button>
      </form>
      <form *ngIf="!isRegister" [formGroup]="loginForm" (submit)="login()">
        <input
          type="email"
          name="email"
          placeholder="Email"
          formControlName="email"
          autocomplete="email"
        />
        <span class="text-left d-block w-100 text-danger">{{
          getErrorMessage("email")
        }}</span>
        <input
          type="password"
          placeholder="Senha"
          formControlName="password"
          autocomplete="current-password"
        />
        <span class="text-left d-block w-100 text-danger">{{
          getErrorMessage("password")
        }}</span>
        <button type="submit" [disabled]="!loginForm.valid">Entrar</button>
        <a href="#">Esqueci minha senha</a>
      </form>
    </div>
  </div>
</body>

<app-footer></app-footer>
<router-outlet></router-outlet>
