<footer class="footer">
  <div class="container">
    <!-- Logo -->
    <div class="footer-logo">
      <img src="assets/images/logo_img.png" alt="Geo Soluções" />
    </div>

    <!-- Links Institucionais -->
    <div class="footer-column">
      <h3>Institucional</h3>
      <ul>
        <li><i class="fa-solid fa-check"></i> Home</li>
        <li><i class="fa-solid fa-check"></i> Soluções</li>
        <li><i class="fa-solid fa-check"></i> Sobre Nós</li>
        <li><i class="fa-solid fa-check"></i> Fale Conosco</li>
        <li><i class="fa-solid fa-check"></i> Área Cliente</li>
        <li><i class="fa-solid fa-check"></i> Contato</li>
      </ul>
    </div>

    <!-- Soluções -->
    <div class="footer-column">
      <h3>Soluções</h3>
      <ul>
        <li><i class="fa-solid fa-check"></i> Georreferenciamento</li>
        <li><i class="fa-solid fa-check"></i> Regularização</li>
        <li><i class="fa-solid fa-check"></i> Aerolevantamento</li>
        <li><i class="fa-solid fa-check"></i> Licenciamento Ambiental</li>
        <li><i class="fa-solid fa-check"></i> Mineração</li>
      </ul>
    </div>

    <!-- Contato -->
    <div class="footer-column">
      <h3>Contato</h3>
      <ul>
        <li>
          <i class="fa-regular fa-envelope"></i> contato&#64;geosolucoes.top
        </li>
        <li><i class="fa-brands fa-whatsapp"></i> (31) 3058-2961</li>
        <li><i class="fa-brands fa-instagram"></i> geo_solucoes</li>
      </ul>
    </div>
  </div>
</footer>
